/* #region CSS reset */
/* Adapted from https://www.joshwcomeau.com/css/custom-css-reset/ */

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	overflow-wrap: break-word;
}

html,
body {
	height: 100%;
}

body {
	line-height: 1.5;
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

input,
button,
textarea,
select {
	font: inherit;
}

a:visited {
	color: inherit;
}

/* #endregion */

/* #region Pure CSS tabs */
/* Inspired by https://codepen.io/alvarotrigo/pen/RwLzvQz */

.tabs {
	display: flex;
	flex-flow: row wrap;
	align-content: flex-end;
}

.tabs > input[type="radio"] {
	display: none;
}

.tabs > label {
	order: 20;
	height: fit-content;
}

.tabs > .tab {
	order: 10;
	width: 100%;
	height: auto;
	display: none;
}

.tabs > input[type="radio"]:checked + label + .tab {
	display: block;
}

/* #endregion */

/* #region Site style */

body {
	display: flex;
	flex-flow: column;
	/* Placeholder */
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	background-color: antiquewhite;
}

/* #endregion */

/* #region Header */

header {
	width: 100%;
	height: 4rem;
	display: flex;
	flex-flow: row;
	justify-content: space-between;
	align-items: center;
	background-color: chocolate;
}

.resources {
	display: flex;
	flex-flow: row;
}

.resources > p {
	margin: 1rem;
}

/* #endregion */

/* #region Gathering */

.gathering {
	display: flex;
	flex-flow: column;
	width: fit-content;
	margin: 2rem;
}

.gathering > button {
	margin: 0.4rem;
	padding: 0.2rem 0.5rem;
}

/* #endregion */

/* #region Log */

#log {
	position: absolute;
	top: 4rem;
	right: 0;
	width: 100%;
	max-width: 24rem;
	height: 100%;
	max-height: 30rem;
	display: flex;
	flex-flow: column;
	justify-content: flex-start;
	margin: 2rem;
	border: 2px solid brown;
	padding: 1rem;
	font-family: 'Courier New', Courier, monospace;
	background-color: white;
}

/* #endregion */

/* #region Tabbed interface */

#interface {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	max-width: 32rem;
	padding: 2rem;
}

#interface > .tab {
	min-height: 24rem;
	background-color: chartreuse;
	border: 2px solid green;
	padding: 1rem;
}

#interface > label {
	padding: 0.5rem 1rem;
	background-color: lavender;
}

#interface > label:first-of-type {
	margin-left: 1rem;
}

#interface > input[type="radio"]:checked + label {
	background-color: gray;
}

/* #endregion */

/* #region Upgrades */

.upgrade {
	margin: 0.5rem;
	border: 1px solid black;
	padding: 0.5rem 1rem;
	background-color: white;
}

.upgrade.inactive {
	background-color: darkgray;
}

/* #endregion */
